@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow: hidden;
}

body {
  font-family: sans-serif;
}
h1 {
  background-color: rgb(230, 230, 230);
  text-align: center;
  font-family: "Mountains of Christmas", cursive;
  color: rgb(255, 38, 0);
  font-size: 2rem;
  background: rgb(211, 210, 211, 0.8);
}
.container {
  width: 100%;
  height: 100%;
}
.backgroundIMG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -4;
}
.tree {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  /* display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%; */
}
.buttons {
  /* display: flex;
  justify-content: center; */
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pause {
  width: 3rem;
  height: 3rem;
  background-color: red;
  color: white;
  font-size: 2rem;
  border-radius: 50%;
  margin: 0.5rem;
  cursor: pointer;
  border: none;
}
.play {
  width: 3rem;
  height: 3rem;
  background-color: red;
  color: white;
  font-size: 2rem;
  border-radius: 50%;
  margin: 0.5rem;
  cursor: pointer;
  border: none;
}

h2 {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  color: rgb(93, 11, 245);
  background: rgb(202, 202, 202, 0.8);
  border-radius: 15px;
  padding: 0.5rem;
  z-index: -1;
}

h6 {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(68, 250, 138);
  font-size: 0.9rem;
}
